# .NET
bin/
obj/
TestResults/
coverage/
coverage-report/
*.trx
*.coverage
*.coveragexml

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo

# Local secrets and deployment artifacts
.env
*.env
*.zip
*.tfvars
terraform.tfvars

# OS / temp
Thumbs.db
.DS_Store
*.tmp
*.temp
/payload-authorizer.json
/payload-cliente.json
/response-authorizer.json
/response-cliente.json
src/Oficina.AuthLambda/Oficina.AuthLambda.csproj.lscache
tests/Oficina.AuthLambda.Tests/Oficina.AuthLambda.Tests.csproj.lscache
